//-
//- STANDARD META TAGS
//-

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='initial-scale=1.0, maximum-scale=2.0')

//- Project Specific
if properties.metaCreator && properties.metaCreator != ''
  meta(name='creator', content=properties.metaCreator)
if properties.metaPublisher && properties.metaPublisher != ''
  meta(name='publisher', content=properties.metaPublisher)

//- Page Specific
block metaAuthor
  if properties.metaAuthor && properties.metaAuthor != ''
    meta(name='author', content=properties.metaAuthor)
block metaDescription
  if properties.metaDescription && properties.metaDescription != ''
    meta(name='description', content=properties.metaDescription)
block metaKeywords
  if properties.metaKeywords && properties.metaKeywords != ''
    meta(name='keywords', content=properties.metaKeywords)


//-
//- PAGE TITLE
//-

block title
  title #{properties.browserTitle} – #{properties.browserStrapline}


//-
//- CSS
//- Conditional comments to load a completely separate file for IE8
//-

<!--[if gt IE 8]><!-->
link(rel='stylesheet', href=versionPath('/static/css/index.css'))
<!--<![endif]-->
<!--[if lte IE 8]>
link(rel='stylesheet', href=versionPath('/static/css/index-ie8.css'))
<![endif]-->


//-
//- JAVASCRIPT - HEAD SPECIFIC
//-

block headScripts
  script(src=versionPath('/static/js/lib/vendor/Modernizr.js'))
  <!--[if lte IE 8]>
  script(src=versionPath('/static/js/lib/vendor/html5shiv.js'))
  <![endif]-->


//-
//- ICONS / IMAGES / DEVICE SPECIFICS
//-

link(rel='shortcut icon', href=versionPath('/static/images/meta/favicon.ico'))


//-
//- iOS App Icons / Title
//-

meta(name='apple-mobile-web-app-title', content=properties.iosProjectTitle)
link(rel='apple-touch-icon-precomposed', href=versionPath('/static/images/meta/apple-touch-icon-precomposed-57x57.png'),   sizes='57x57')
link(rel='apple-touch-icon-precomposed', href=versionPath('/static/images/meta/apple-touch-icon-precomposed-114x114.png'), sizes='114x114')
link(rel='apple-touch-icon-precomposed', href=versionPath('/static/images/meta/apple-touch-icon-precomposed-120x120.png'), sizes='120x120')
link(rel='apple-touch-icon-precomposed', href=versionPath('/static/images/meta/apple-touch-icon-precomposed-72x72.png'),   sizes='72x72')
link(rel='apple-touch-icon-precomposed', href=versionPath('/static/images/meta/apple-touch-icon-precomposed-76x76.png'),   sizes='76x76')
link(rel='apple-touch-icon-precomposed', href=versionPath('/static/images/meta/apple-touch-icon-precomposed-144x144.png'), sizes='144x144')
link(rel='apple-touch-icon-precomposed', href=versionPath('/static/images/meta/apple-touch-icon-precomposed-152x152.png'), sizes='152x152')


//-
//- Microsoft Pinned Tile
//-

meta(name='application-name', content=properties.msTileProjectTitle)
meta(name='msapplication-TileImage', content=versionPath('/static/images/meta/microsoft-pinned-tile-image-144x144.png'))
meta(name='msapplication-TileColor', content=properties.msTileBackground)
